* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.container {
    position: relative;
    margin: 25% 100px 0 1000px;
    max-width: 400px;
    justify-content: ;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}


header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin-right: 40px ;
}
.circle {
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.small {
   clip-path: circle(200px at left 100px);
}

.big {
    clip-path: circle(600px at right 800px);
}
.logo {
    margin-right: 55px;
}
.logo img {
    max-width: 100px;
    position: relative;
    margin-right: 55px;
    transform: translateX(-100px);
}

.left-nav {
    display: flex;
}

.left-nav li{
    padding: 0 8px;
    list-style: none;
}

.left-nav li i {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.tabs {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 10%;
    right: -40px;
    align-items: left;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
}

.tab-item {
    width: 135px;
    padding: 16px 20px 11px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    margin: 80px 0;
    padding: 28px 0;
    text-align: left;
    align-items: left;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.tag{
    width: 150px;
    position: relative;
    left: 50px;
    margin-bottom: 300px;
}
.tag p{
     
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.img{
    width: 300px;
    
}

.img img {
    max-width: 100%;
}
.main{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}
.main h1{
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
}
.main h1:first-child{
    position: relative;
    top: 200px;
    left: 190px;
    z-index: -1;
}
.main h1:last-child{
    position: relative;
    bottom: 250px;
    left: 190px;
}

.social{
    position: absolute;
    left: 30px;
    top: 50%;
}
.social ul{
    flex-direction: column;
}
.social li{
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    display: flex;
    margin-top: 10px;
    border-radius: 50%;
    color: orange;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5 ease-in;
    
}
.social li:hover{
    background: orange;
    color: #fff;
}